---
import { Image } from 'astro:assets';
import H1 from "../components/h1.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
import Screen1 from "../assets/Screen1.png";
import Screen2 from "../assets/Screen2.png";
import Screen3 from "../assets/Screen3.png";
import { image } from 'motion/react-client';

const projects = [
     {
          title: "Mallouki Fahrzeugtechnik",
          description: "At Mallouki Fahrzeugtechnik in Frankfurt am Main, our workshop manager Mostapha El Mallouki and his experienced team deliver high-quality automotive services with precision and passion. With over 15 years of expertise, we specialize in repairs, restorations, and customized vehicle modifications, always ensuring the highest standards. Customers trust us for our modern technology, attention to detail, and reliable service in every project.",
          image: Screen1,
          image: Screen3

     },
     {
          title: "Overview",
          description: "Our custom-built contact form is seamlessly connected to a secure mail server, making it quick and easy for customers to reach us online.",
          image: Screen2     
     },
     {
          title: "Contact-Formular",
          description: "Our custom-built contact form is seamlessly connected to a secure mail server, making it quick and easy for customers to reach us online.",
          image: Screen3
     }];
---

<InfoLayout>
     <div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh">
          <H1> Projects </H1>

          <ul class="mt-4 sm:mt-12 grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-16 sm:gap-8">
               {projects.map((project) => (
                    <li>
                         <Image src={project.image} alt={project.title} class="aspect-[1/1.33] object-center object-cover rounded-lg shadow-lg mb-4 sm:mb-0 sm:mr-4" />
                         <div class="p-1 sm:p-2">
                              <h2 class="text-base text-zinc-100">{project.title}</h2>
                              <p class="text-sm text-zinc-400 text-balance">{project.description}</p>
                         </div>
                    </li>
               ))}
          </ul>
     </div>
</InfoLayout>